:root {
	--color-background: rgb(255, 246, 247);
	--color-text: rgb(190, 145, 145);
	--color-accent: rgb(54, 47, 48);
	--color-button-left-color: rgb(245, 175, 175);
	--color-button-right-color: rgb(240, 135, 135);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
